.footer {
    background-color: #6278F7;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.footer p {
    color: aliceblue;
}

.footer .logo {
    width: 150px;
}

.redes {
    display: flex;
    gap: 20px;
}

.redes img {
    width: 25px;
}